body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.background {
  background-image: url('images/foto1.jpg');
  height: 100vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}
